<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Reaktor PWN App</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="css/custom_reaktor_app.css">

</head>

<body>

<div id="wrapper" class="container-fluid margin_0">


    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="/">
                    Reaktor App
                </a>
            </li>
            <li>
                <form th:action="@{/login-process}" th:method="post">
                    <div ><input th:type="text" th:name="email" th:placeholder="e-mail"></div>
                    <br>
                    <div style="width:5px; length:50px;"><input th:type="text" th:name="password" th:placeholder="hasło"></div>
                    <br>
                    <div style="margin-left:110px;"><input th:type="submit" th:value="zaloguj"></div>
                </form>

                <a class="navbar-brand" th:if="${principal==null}" th:text="niezalogowano">Login</a>
                <a class="navbar-brand" th:if="${principal!=null}" th:text="${principal.getUsername()}">Login</a>
                <a class="navbar-brand" th:if="${principal!=null}" th:href="@{/logout}" th:method="post">Wyloguj</a>
            </li>
            <li>
                <a href="/">Strona startowa</a>
            </li>
            <li>
                <a href="/register">Rejestracja</a>
            </li>
            <li>
                <a href="/contact">Kontakt</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <div id="page-content-wrapper" class="margin_0">
        <div class="container-fluid margin_0">
            <!-- PageHeader -->
            <div class='row custom_header margin_0'>
                <button href="#menu-toggle" class="btn btn-secondary menu_button" id="menu-toggle">Menu</button>
                <div style="margin-top:50px; margin-bottom:50px; margin-left:550px;"><h1>Masz pytanie? Skontaktuj się z nami!</h1></div>


            </div>
            <!-- Page Content -->
            <!--/  <label th:text="${info}">info</label>-->

            <h2 style="margin:50px 150px;"></h2>
            <h5 th:align="center">Napisz do nas korzystając z formularza, a my odezwiemy się do Ciebie!</h5><br><br>
            <form th:align="center" th:action="@{/contact}" th:object="${contact}" th:method="post">
                <label style="width:200px; height:40px;"><b>Temat</b></label>
                <input style="width:200px; height:20px;" th:align="center" th:field="*{subject}" th:type="text">
                <span th:errors="*{subject}">error</span>
                <br>
                <label style="width:200px; height:20px;"><b>Wiadomość</b></label>
                <textarea style="width:200px; height:200px;" th:align="center" th:type="text" th:field="*{message}"></textarea>
                <span th:errors="*{message}">error</span>
                <br>
                <label style="width:200px; height:20px;"><b>E-mail</b></label>
                <input style="width:200px; height:20px;" th:align="center" th:type="email" th:field="*{email}">
                <span th:errors="*{email}">error</span><br>
                <br>
                <input th:align="right"  th:type="submit" th:value="prześlij">
            </form>


            <footer class='row margin_0 custom_footer'>
                <span>Created by <a href="https://github.com/rafi1313">Rafał Borkowski</a> and <a href="https://github.com/IDontMind">Maja Misiewicz</a> Copyright &copy; BootCamp Reaktor PWN 2018</span>
                <!--<div>-->
                <!--<p class="row copyright margin_0"></p>-->

                <!--</div>-->
            </footer>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>

</html>
